{% extends 'base.html' %} {% block head %}
<title>Products - Edit - Inventory Management System</title>
{% endblock %} {% block body %}
<h2>Products - Edit</h2>

<div class="product-list">
  <table>
    <tr>
      <th>+/-</th>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
    {% for product in products %}
    <tr>
      {% if product.id == id %}

      <form method="post" action="{{ url_for('submit_product_edit') }}">
        <td>
          <button type="submit" class="button product-edit-submit-button">
            Submit
          </button>
          <div class="product-edit-cancel-and-reset-button-group">
            <a href="/products" class="button product-edit-cancel-button"
              >Cancel</a
            >
            <button type="reset" class="button product-edit-reset-button">
              Reset
            </button>
          </div>
        </td>

        <td>
          {{ product.id }}
          <input name="id" type="hidden" value="{{ product.id }}" />
        </td>

        <td>
          <div class="product-edit-group">
            <label for="name-field" class="label product-edit-field-label"
              >Name</label
            >
            <input
              id="name-field"
              class="product-edit-field"
              name="name"
              placeholder=""
              type="text"
              title="No leading or trailing whitespace"
              pattern="^[^\s].+[^\s]$"
              required
              value="{{ product.name }}"
            />
          </div>
        </td>

        <td>
          <div class="product-edit-group">
            <label
              for="description-field"
              class="label product-edit-field-label product-description-textarea-label"
              >Description (optional, line breaks ignored)</label
            >
            <textarea
              class="product-edit-field"
              id="description-field"
              name="description"
              title="Line breaks ignored"
            >
{{ product.description }}</textarea
            >
          </div>
        </td>

        <td>
          <div class="product-edit-group">
            <label for="quantity-field" class="label product-edit-field-label"
              >Quantity</label
            >
            <input
              id="quantity-field"
              class="product-edit-field"
              name="quantity_available"
              placeholder=""
              type="number"
              title="No leading or trailing whitespace"
              required
              min="0"
              step="1"
              value="{{ product.quantity_available }}"
            />
          </div>
        </td>

        <td>
          <div class="product-edit-group">
            <label for="price-field" class="label product-edit-field-label"
              >Price</label
            >
            <input
              id="price-field"
              class="product-edit-field"
              name="price"
              placeholder=""
              type="number"
              title="No leading or trailing whitespace"
              required
              min="0.0"
              step="0.01"
              value="{{ product.price }}"
            />
          </div>
        </td>
      </form>

      {% else %}
      <td></td>
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.quantity_available }}</td>
      <td>{{ product.price }}</td>
      {% endif %}
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
