* {
  color: #fff;
  background-color: #121212;
  box-sizing: border-box;
  font-family: "Roboto";
  line-height: 1.25;
}

body {
  text-align: center;
  font-size: 14px;
}

input {
  border-width: thin;
}
input:focus {
  outline: 0 solid #d96028;
  border-width: medium;
  border-style: inset;
  /*caret-color: #d96028;*/
}
button,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus {
  border: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  /* Remove spinner from number input fields */
  -moz-appearance: textfield;
  text-align: center;
  width: 70px;
}

textarea {
  font-size: 14px;
  overflow: hidden;
  min-width: 250px;
  width: 250px;
  max-width: 250px;
  min-height: 4ch;
  max-height: 100px;
  outline: 0 inset #c95018;
  border-width: thin;
  border-color: #c95018;
  border-style: inset;
  border-radius: 5px;
  padding: 6px;
}
textarea:focus {
  border-width: medium;
}

a {
  text-decoration: none;
}

table,
td,
th {
  border: 1px solid #aaa;
  padding: 5px;
}

table {
  margin: auto;
  border-collapse: collapse;
}

.label {
  background-color: #121212;
  color: #d96028;
  border-radius: 50px;
  left: 15px;
  top: -7px;
  font-size: 11px;
}
.product-edit-field-label,
.product-description-textarea-label {
  position: absolute;
}

.login-field {
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 1.5;
}

.button {
  margin: auto;
  background: #c95018;
  border-radius: 40px;
  color: #fff;
  display: block;
  font-weight: 400;
  text-decoration: none;
  vertical-align: middle;
}
.button:hover {
  background: #d96028;
  cursor: pointer;
}
.secondary-button {
  font-size: 12px;
}

.login-button {
  margin-top: 10px;
  padding: 10px 20px;
}

.dashboard-button {
  margin: 15px auto 0;
  padding: 10px 40px;
}

.product-search-form {
  margin-top: 5px;
  margin-bottom: 15px;
}

.product-addition-form {
  margin-top: 5px;
  margin-bottom: 5px;
}
.product-addition-submit-button {
  margin-bottom: 5px;
  padding: 5px 10px;
  border-radius: 5px;
}
.product-addition-clear-button {
  background: #402000;
  padding: 4px 10px;
  border-radius: 5px;
}

.product-edit-group {
  position: relative;
  display: inline-block;
}
.product-edit-field,
.product-addition-field {
  border-color: #c95018;
  border-radius: 5px;
  padding: 6px;
}

.product-edit-submit-button {
  margin-bottom: 5px;
  padding: 5px 26px;
  border-radius: 5px;
}
.product-edit-cancel-button,
.product-edit-reset-button {
  padding: 4px 5px;
  background: #402000;
  display: inline;
  border-radius: 5px;
}
