{% extends 'base.html' %} {% block head %}
<title>Dashboard - Inventory Management System</title>
{% endblock %} {% block body %}
<h2>Dashboard</h2>

<div class="dashboard">
  <form action="/products">
    <button type="submit" class="button dashboard-button">Products</button>
  </form>
  <button type="submit" class="button dashboard-button">Purchases</button>
  <button type="submit" class="button dashboard-button">Customers</button>
  <button type="submit" class="button dashboard-button">Suppliers</button>
</div>
{% endblock %}
