<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard - Inventory Management System</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
  </head>
  <body>
    <div class="page-header">
      <h1>Inventory Management System</h1>
      <h2>Dashboard</h2>
    </div>

    <div class="dashboard">
      <button type="submit" class="dashboard-button">Products</button>
      <button type="submit" class="dashboard-button">Purchases</button>
      <button type="submit" class="dashboard-button">Customers</button>
      <button type="submit" class="dashboard-button">Suppliers</button>
    </div>
  </body>
</html>
