{% extends 'base.html' %} {% block head %}
<title>Dashboard - Inventory Management System</title>
{% endblock %} {% block body %}
<h2>Dashboard</h2>

<div class="dashboard">
  <form action="/products">
    <button type="submit" class="button dashboard-button">Products</button>
  </form>

  <button type="submit" class="button dashboard-button">Purchases</button>

  <form action="/customers">
    <button type="submit" class="button dashboard-button">Customers</button>
  </form>

  <button type="submit" class="button dashboard-button">Suppliers</button>

  <form action="{{ url_for('blueprint.logout')}}">
    <button type="submit" class="button dashboard-button">Log Out</button>
  </form>
</div>
{% endblock %}
