<!--FIXME: What is the formatter doing here!?-->
{% extends 'base.html' %} {% block head %}
<title>Employee Login - Inventory Management System</title>
{% endblock %} {% block body %}

<h2>Employee Login</h2>
<form id="login-form" action="/dashboard" novalidate>
  <div class="login-field">
    <label for="employee-id" class="login-field-label">ID</label>
    <input id="employee-id" name="id" type="text" required />
  </div>

  <div class="login-field">
    <label for="employee-pin" class="login-form-field-label">PIN</label>
    <input id="employee-pin" name="pin" type="password" required />
  </div>

  <div>
    <button type="submit" class="button login-button">Log In</button>
  </div>
</form>
{% endblock %}
