{% extends 'base.html' %} {% block head %}
<title>Products - Inventory Management System</title>
{% endblock %} {% block body %}
<h2>Products</h2>

<form class="product-search-form" action="/" method="POST">
  <input class="submit" type="submit" value="Search" />
  <input type="text" name="product" placeholder="Search product" />
</form>

<table>
  <tr>
    <th>+/-</th>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Quantity</th>
    <th>Price</th>
  </tr>

  <tr class="product-addition-row">
    <form
      method="POST"
      class="product-addition-form"
      action="{{ url_for('add_product') }}"
    >
      <td>
        <input
          class="button product-addition-submit-button"
          type="submit"
          value="Add Product"
        />

        <input
          class="button product-addition-clear-button"
          type="reset"
          value="Clear"
        />
      </td>

      <td></td>

      <td>
        <div class="product-edit-group">
          <input
            class="product-addition-field"
            name="name"
            type="text"
            required
            title="No leading or trailing whitespace"
            pattern="^[^\s].+[^\s]$"
          />
        </div>
      </td>

      <td>
        <div class="product-edit-group">
          <label
            for="products-addition-form-description"
            class="label product-edit-label-field product-description-textarea-label"
            >Optional, line breaks ignored</label
          >
          <textarea
            class="product-edit-field"
            id="products-addition-form-description"
            name="description"
            title="Line breaks ignored"
            rows="1"
            cols="33"
          ></textarea>
        </div>
      </td>

      <td>
        <div class="product-edit-group">
          <input
            class="product-addition-field"
            name="quantity_available"
            type="number"
            required
            title="No leading or trailing whitespace"
            min="0"
            step="1"
          />
        </div>
      </td>

      <td>
        <div class="product-edit-group">
          <input
            class="product-addition-field"
            name="price"
            type="number"
            required
            title="No leading or trailing whitespace"
            min="0.0"
            step="0.01"
          />
        </div>
      </td>
    </form>
  </tr>

  {% for product in products %}
  <tr>
    <td>
      <a href="/delete-product/{{ product.id }}">Delete</a>
      /
      <a href="/products/edit/{{ product.id }}">Edit</a>
    </td>
    <td>{{ product.id }}</td>
    <td>{{ product.name }}</td>
    <td>{{ product.description }}</td>
    <td>{{ product.quantity_available }}</td>
    <td>{{ product.price }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
